[Desktop Entry]
Version=1.0
Type=Application
Categories=Game;

Name=Kristal (debug)
Comment=Framework for making Deltarune fangames (with detached logging)
Exec=/home/addigoat/scripts/kristal-logger

Terminal=false
StartupNotify=true
