[Desktop Entry]
Name=Unreal Engine (XWayland)
Comment=Video game editor developed by Epic Games

Type=Application
Categories=Game;

Exec=/home/addigoat/.local/bin/unreal --xwayland
