* {
  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

configuration {
  font: env(ROFI_FONT, "JetBrainsMono Nerd Font Medium 12");

  modi: "drun,run,window,emoji,ssh";

  drun {
    display-name: "run:";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "";
  }
}
